.App {
  text-align: center;
  min-height: 100vh;
}

.login-form {
  margin: 5em auto 5em auto;
  display: flex;
  flex-direction: column;
  width: 50vw;

  & > input {
    margin: 1em auto
  }

  & > button {
    margin: 1em auto
  }
}
